<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Find your National Hero!" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>My Patriot</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- Header Resto -->
    <header class="header">
      <button id="skip-to-content" tabindex="1" class="skip-to-content" href="#content">Menuju ke konten</button>
      <div class="container">
        <h1>
          <a href="/">My<span>Patriot</span></a>
        </h1>
        <button class="menu">☰</button>
        <div class="navbar">
          <a href="#">HOME</a>
          <a href="#">PATRIOT</a>
          <a href="https://www.linkedin.com/in/fahrizal-amri-bachtiar-955647242/">ABOUT US</a>
          <a href="#">CONTACT US</a>
        </div>
      </div>
    </header>

    <!-- Hero Element -->
    <div class="hero">
      <div class="hero__caption">Find a <span>Restaurant</span> According to Your <span>Stomach's Desire</span></div>
    </div>

    <!-- Main Content -->
    <main>
      <div id="content">
        <!-- Explore Restoran -->
        <div class="explore">
          <div class="explore__container">
            <p><span>Explore</span> Your Favorite <span>Restaurant</span></p>
          </div>
        </div>
      </div>
    </main>

    <!-- Start Footer -->
    <footer>
      <p>&copy; 2023 - My Patriot</p>
    </footer>

    <!-- Script -->
    <script src="./src/scripts/index.js"></script>
  </body>
</html>
