<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#b09b71" />
    <meta name="description" content="Find the National Hero of your choice! " />

    <link rel="icon" href="./mypat.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

    <title>My Patriot</title>
  </head>
  <body>
    <a class="skipcontent" aria-label="button skip to button" href="#mainContent">Menuju Konten</a>
    <header>
      <nav>
        <div class="nav-container" id="navcontainer">
          <div class="brand">
            <img src="./logos.png" alt="Logo My Patriot" />
            <button id="menu" class="header_menu" aria-label="button menu dropdown">☰</button>
          </div>
          <div class="nav__menu" id="navmenu">
            <ul>
              <li>
                <a href="/">HOME</a>
              </li>
              <li>
                <a href="#">PATRIOT</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/fahrizal-amri-bachtiar-955647242/">ABOUT US</a>
              </li>
              <li>
                <a href="#">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Hero Jumbotron Element -->
    <div class="hero-container" id="hero">
      <div class="hero-content-container">
        <div class="jumbotron">
          <h1>My Patriot</h1>
          <p>
            Website seputar informasi mengenai pemahaman dan penghargaan terhadap Pahlawan Nasional Indonesia tersebut sehingga diharapkan dapat memberikan manfaat dan kemudahan terhadap pengguna dalam mengenal, mengetahui dan memahami jasa
            para Pahlawan Nasional di Indonesia.
          </p>
          <button type="button" class="patriot-button" onclick="alert('Ga Bahayya ta?')">Patriot</button>
        </div>
        <div class="image-jumbo">
          <img data-src="./images/heros/hero1.png" alt="Gambar Jumbotron" class="lazyload" />
        </div>
      </div>
      <!--   <img data-src="./public/images/heros/hero1.png" alt="Gambar Jumbotron" /> -->

      <!-- <div class="image-jumbo">
        <img src="./public/images/heros/hero1.png" alt="Gambar Jumbotron" />
      </div> -->
    </div>

    <!-- Main Content -->
    <main>
      <div id="content">
        <!-- Explore Restoran -->
        <div class="explore">
          <div class="explore__container">
            <p><span> Pentingnya </span> Mengenal <span> Pahlawan Nasional</span></p>
          </div>
        </div>

        <!-- Article Section -->
        <article class="article">
          <div class="article1">
            <div class="article1__desc">
              <h3>Pahlawan mengajarkan bagaimana cara menghargai arti dari perjuangan</h3>
            </div>
            <div class="article1__image">
              <img src="./src/public/img/hero2.png" alt=" Gambar Article 1" />
            </div>
          </div>
        </article>

        <article class="articles">
          <div class="article2">
            <div class="article2__image">
              <img src="./src/public/img/hero3.png" alt=" Gambar Article 2" />
            </div>
            <div class="article2__desc">
              <h3>Teladan Bagi Masyarakat dalam memperjuangkan bangsa Indonesia</h3>
            </div>
          </div>
        </article>

        <article class="articlet">
          <div class="article3">
            <div class="article3__desc">
              <h3>Memaknai arti persatuan dalam sebuah negara</h3>
            </div>
            <div class="article3__image">
              <img src="./src/public/img/hero4.png" alt=" Gambar Article 3" />
            </div>
          </div>
        </article>

        <article class="articlex">
          <div class="article4">
            <div class="article4__image">
              <img src="./src/public/img/hero5.png" alt=" Gambar Article 4" />
            </div>
            <div class="article4__desc">
              <h3>Lebih mengenal sejarah bangsa yang beragam</h3>
            </div>
          </div>
        </article>
      </div>
    </main>

    <!-- <main id="mainContent" class="main-karunia_restaurants"></main> -->

    <!-- Footer -->
    <footer>
      <p class="footer">Copyright &copy; 2023 - My Patriot</p>
    </footer>
  </body>
</html>
