@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*
 * Skip to Content Button
 */

.skip-to-content {
  position: absolute;
  background-color: #bf1722;
  text-decoration: none;
  top: -5rem;
  cursor: pointer;
}

.skip-to-content:focus {
  display: block;
  outline: none;
  top: 1rem;
}

/*
 * Header
 */

header {
  background-color: #b09b71;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  text-shadow: 5px 1px black;
  color: white;
  font-weight: bold;
  display: inline-block;
}

header h1 span {
  color: gold;
}

/*
 *  Navigation Bar
 */

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a:hover {
  font-weight: bold;
  color: goldenrod;
}

.navbar a {
  padding: 30px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/*
 * Menu Hamburger Button
 */

.menu {
  background-image: linear-gradient(to right top, #8b7e74, #9b8d7f, #aa9c8a, #b9ac95, #c7bca1);
  color: #ffffff;
  display: none;
  font-size: 32px;
  padding: 20px;
  outline: none;
  border: none;
  min-height: 44px;
  min-width: 44px;
}

.menu:focus {
  border: 1px solid #ffff;
}

/*
 * Hero Jumbotron
 */

.hero {
  background: #eddfb3;
  min-height: 500px;
  color: #fff;
}

.jumbo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.jumbotron {
  color: #333333;
  text-align: left;
  margin-top: 150px;
  margin-bottom: 250px;
  text-align: justify;
}

.jumbotron h1 {
  font-weight: bold;
}

.image-jumbo {
  text-align: center;
}

.image-jumbo img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

section {
  width: 100%;
  min-height: 200px;
}

/*
 * Explore Resto
 */

.explore__container {
  background-color: #b09b71;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 1.5em;
  border-radius: 0.5em;
  text-shadow: 5px 1px black;
}

.explore {
  width: 100%;
  text-align: center;
  display: grid;
}
.explore p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.explore p span {
  color: gold;
}

/*
 * footer
 */

footer {
  background-color: #b09b71;
  padding: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
