@media only screen and (min-width: 1200px ) {
    .wave{
      height: 65vh;
      width: 100%;
      margin-top: -18%;
    }
    .card{
      min-width: 350px;
    }
    .detail-image img{
      width:320px !important ;
    }
    .detail-header dt{
      width: 20%;
    }
    .detail-header dd{
      width: 80%;
    }
}
@media only screen and (min-width: 992px )  and (max-width: 1200px){
  .wave{
    height:55vh;
    width: 100%;
    margin-top: -20%;
  }
  .detail-image img{
    width:300px !important ;
  }
} 
@media only screen and (min-width: 768px )  and (max-width: 992px){
  .wave{
    height: 55vh;
    width: 100%;
    margin-top: -40%;
  }
  
  .detail-image img{
    width: 300px !important;
  }
  .detail-header h1{
    font-size: 1.5rem;
  }
  .detail-header h3{
    font-size: 1rem;
  }

  .detail-header dl{
    font-size: .95rem;
  }

  .detail-description h3{
    font-size: 1.2rem;
  }
  .detail-description p{
    font-size: .98rem;
    font-weight: normal !important;
    color: #3b3b3b;
  }
  .moveUp{
    right: 0;
    margin-right: 55px;
    z-index: 99;
   }
} 
@media only screen and (min-width: 600px )  and (max-width: 768px){
  .wave{
    height: 50vh;
    width: 100%;
    margin-top: -30%;
  }
  
  .detail-box{
    width: 100%;
  }
  .detail-image{
    text-align: center;
  }
  .detail-image img{
    width: 320px;
  }
  .detail-header{
    margin-top: 15px;
  }
  .detail-header h1{
    font-size: 1.4rem;
  }
  .detail-header h3{
    font-size: 1rem;
  }
  .detail-description h3{
    font-size: 1.1rem;
  }
  .detail-description p{
    font-size: .9rem;
  }
} 
@media only screen and (max-width: 600px ){
  .wave{
    height: 45vh;
    width: 100%;
    margin-top: -35%;
  }

  .card{
    height: 550px;
  }

  .card dt{
    width: 40%;
    font-size: .9rem;
  }
  .card dd{
    font-size: .9rem;
    width: 60%;
  }
 
  .detail-image{
    text-align: center;
  }
  .detail-image img{
    width: 320px;
  }
  .detail-header{
    margin-top: 15px;
  }
  .detail-header h1{
    font-size: 1.4rem;
  }
  .detail-header h3{
    font-size: 1rem;
  }
  .detail-content{
    display: block !important;
  }
  .detail-header dl{
    display: flex;
    justify-content: flex-start; 
  }
  .detail-header dt{
    width: 40%;
  }
  .detail-header dd{
    width: 60%;
  }
  .detail-header dt,
  .detail-header dd{
    font-size: .9rem;
  }
  .detail-description h3{
    font-size: 1.1rem;
  }
  .detail-description p{
    font-size: .9rem;
  }
  .moveUp{
    right: 0;
    margin-right: 30px;
    z-index: 99;
   }
} 