@media only screen and (min-width: 1200px) {
  .article,
  .articlet,
  .articlex,
  .articles {
    min-height: 450px !important;
  }
  .article1,
  .article2,
  .article3,
  .article4 {
    margin-top: 30px;
  }
  .nav-brand img {
    margin-left: 45px;
  }
  .wave {
    height: 65vh;
    width: 100%;
    margin-top: -18%;
  }
  .card {
    min-width: 350px;
  }
  .detail-image img {
    width: 320px !important ;
  }
  .detail-header dt {
    width: 20%;
  }
  .detail-header dd {
    width: 80%;
  }
  .hero-content-container {
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
  }
  .jumbotron {
    flex: 1;
    margin: 0 auto !important;
  }

  .image-jumbo {
    flex: 1;
    margin-left: 30px;
    text-align: center;
  }
  nav {
    padding: 0 100px;
  }

  .container-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1em;
  }
  .about-our-team h1 {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .wave {
    height: 55vh;
    width: 100%;
    margin-top: -20%;
  }
  .detail-image img {
    width: 300px !important ;
  }
}

@media only screen and (min-width: 768px) {
  .article,
  .articlet {
    max-height: 400px !important;
  }

  .article1,
  .article3 {
    flex-direction: row;
    align-items: center;
    padding: 30px;
  }

  .article1__desc,
  .article3__desc {
    margin: 0;
    flex: 1;
  }
  .article1__desc h3,
  .article3__desc h3 {
    font-size: 1.4rem;
    margin-left: 30px;
  }
  .article1__image,
  .article3__image {
    flex: 1;
  }
  .article1__image img,
  .article3__image img {
    width: 250px;
    margin: 0 auto !important;
  }

  .articles,
  .articlex {
    max-height: 400px !important;
  }

  .article2,
  .article4 {
    flex-direction: row;
    align-items: center;
    padding: 30px;
  }

  .article2,
  .article4 {
    flex-direction: row;
    align-items: center;
    padding: 30px;
  }

  .article2__desc,
  .article4__desc {
    margin: 0;
    flex: 1;
  }
  .article2__desc h3,
  .article4__desc h3 {
    font-size: 1.35rem;
  }
  .article2__image,
  .article4__image {
    flex: 1;
  }
  .article2__image img,
  .article4__image img {
    width: 250px;
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-container {
    height: 400px;
  }
  .hero-content-container {
    flex-direction: row;
    align-items: center;
  }
  .jumbotron {
    width: 400px;
    margin: 0;
    margin-top: 50px;
  }
  .image-jumbo {
    margin: 50px 0px 0px 50px !important;
  }
  .image-jumbo img {
    width: 300px;
  }

  .article {
    max-height: 300px !important;
  }
  .nav-item {
    margin: 0;
  }
  .wave {
    height: 55vh;
    width: 100%;
    margin-top: -40%;
  }

  .detail-image img {
    width: 300px !important;
  }
  .detail-header h1 {
    font-size: 1.5rem;
  }
  .detail-header h3 {
    font-size: 1rem;
  }

  .detail-header dl {
    font-size: 0.95rem;
  }

  .detail-description h3 {
    font-size: 1.2rem;
  }
  .detail-description p {
    font-size: 0.98rem;
    font-weight: normal !important;
    color: #3b3b3b;
  }
  .moveUp {
    right: 0;
    margin-right: 55px;
    z-index: 99;
  }
  .image-jumbo {
    flex: 1;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }

  nav {
    padding: 0 100px;
  }

  .container-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1em;
  }
  .about-description {
    margin-top: -100px;
  }
  .about-our-team {
    width: 100%;
  }
  .profile {
    margin: 30px 20px;
  }
  .img-profile {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .nav-item {
    margin: 0;
  }
  .wave {
    height: 50vh;
    width: 100%;
    margin-top: -30%;
  }

  .detail-box {
    width: 100%;
  }
  .detail-image {
    text-align: center;
  }
  .detail-image img {
    width: 320px;
  }
  .detail-header {
    margin-top: 15px;
  }
  .detail-header h1 {
    font-size: 1.4rem;
  }
  .detail-header h3 {
    font-size: 1rem;
  }
  .detail-description h3 {
    font-size: 1.1rem;
  }
  .detail-description p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .menu-hamburger {
    display: block;
  }
  .nav {
    padding: 10px 30px;
  }
  .nav-menu {
    position: fixed;
    padding: 10px;
    top: 60px;
    z-index: -1;
    right: -100%;
    display: flex;
    grid-area: 0;
    flex-direction: column;
    background-color: #b09b71;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 0;
    padding: 25px;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav .dropdown-menu {
    width: 100%;
    margin-top: 10px;
  }
  .wave {
    height: 45vh;
    width: 100%;
    margin-top: -35%;
  }
  .hero-container {
    padding-bottom: 30px;
  }
  .jumbotron {
    margin: 0;
    order: 2;
    padding: 10px 20px;
  }
  .patriot-button {
    margin: 0 !important;
  }
  .jumbotron h1 {
    font-size: 1.5rem;
  }
  .jumbotron p {
    font-size: 0.97rem;
  }
  .image-jumbo {
    order: 1;
    margin: 0 !important;
  }
  .image-jumbo img {
    margin: auto;
    width: 300px;
  }
  .hero-content-container {
    flex-wrap: wrap;
  }
  .explore p {
    font-size: 1.5rem;
    text-shadow: 3px 1px black;
  }

  .article1__desc,
  .article3__desc {
    margin: 0;
    padding: 30px 30px 10px 30px;
  }

  .article1__desc h3,
  .article3__desc h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .article1__image,
  .article3__image {
    margin-top: -30px;
    padding: 30px;
  }
  .article1__image img,
  .article3__image img {
    width: 100%;
  }
  .article2__desc,
  .article4__desc {
    order: 1;
    margin: 0;
    padding: 20px 30px;
  }
  .article2__desc h3,
  .article4__desc h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .article2__image,
  .article4__image {
    order: 2;
    padding: 30px;
    margin-top: -30px;
  }
  .article2__image img,
  .article4__image img {
    width: 100%;
  }
  .card {
    height: 550px;
  }

  .card dt {
    width: 40%;
    font-size: 0.9rem;
  }
  .card dd {
    font-size: 0.9rem;
    width: 60%;
  }

  .detail-image {
    text-align: center;
  }
  .detail-image img {
    width: 320px;
  }
  .detail-header {
    margin-top: 15px;
  }
  .detail-header h1 {
    font-size: 1.4rem;
  }
  .detail-header h3 {
    font-size: 1rem;
  }
  .detail-content {
    display: block !important;
  }
  .detail-header dl {
    display: flex;
    justify-content: flex-start;
  }
  .detail-header dt {
    width: 40%;
  }
  .detail-header dd {
    width: 60%;
  }
  .detail-header dt,
  .detail-header dd {
    font-size: 0.9rem;
  }
  .detail-description h3 {
    font-size: 1.1rem;
  }
  .detail-description p {
    font-size: 0.9rem;
  }
  .moveUp {
    right: 0;
    margin-right: 30px;
    z-index: 99;
  }

  .patriot-button {
    padding: 8px 16px;
    font-size: 14px;
    margin-left: 20px;
  }

  .about-description {
    margin-top: -90px;
  }
  .about-description p {
    font-size: 0.97rem;
  }

  .about-our-team {
    width: 100%;
    margin: 60px auto !important;
  }
  .profile {
    margin-bottom: 30px;
  }
  .img-profile {
    width: 75%;
  }
}

/*
 * Responsive CSS Home
 */

@media only screen and (min-width: 320px) and (max-width: 675px) {
  .image-jumbo {
    flex: 1;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }
  nav {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 412px) and (max-width: 675px) {
  nav {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 767px) {
  .image-jumbo {
    flex: 1;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }

  .nav-container {
    display: block;
  }
  .nav__menu ul {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .header_menu {
    font-size: 19px;
    display: block;
  }
  .nav__menu {
    justify-content: start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .hero-content-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .skipcontent {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .image-jumbo {
    flex: 1;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }
  .header_menu {
    display: none;
  }
  section {
    margin-bottom: 80px;
  }
}
