* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  main {
    width: 90%;
    margin: 32px auto;
  }
  
  club-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
  }

  nav{
    background-color: #B09B71 !important;
    z-index: 999999;
  }
  .jumbotron{
    background-color: #EDDFB3;
  }
  nav .navbar-brand,
  .nav-item a{
    color: white;
  }

  .wave{
    box-sizing: border-box;
    height: 65vh;
    width: 100%;
    background-image: url('../public/svg/wave-patriot-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -18%;
    object-fit: contain;
    object-position: center;
  }

  .search .form-control {
    border-radius: 50px 0 0 50px;
    background-color: #EDDFB3;
  }
  .search .btn-search{
    border-radius: 0px 50px 50px 0px;
    background-color: #B09B71 !important;
  }

  .card,
  .card-header,
  .card-body{
    background-color: #EDDFB3 ;
  }

  .card img{
    object-position: center;
    object-fit: cover;
    width: 180px;
  }
  .btn-detail{
    background-color: #B09B71 ;
    color: white;
  }
  .btn-detail:hover{
    background-color: #978560 ;
    color: white;
  }

  .btn-back-to-top{
   margin-left: 20px;
   padding: 10px 14px;
   position: fixed;
   bottom: 50px;
   right: 75px;
   z-index: 99;
   background-color: #978560;
   color: white;
   border-radius: 20%;
   display: none; /*default none*/
   align-items: center;
   justify-content: center;
   opacity: 0.9;
   border: none !important;
  }



  @media only screen and (min-width: 1200px ) {
      .wave{
        height: 65vh;
        width: 100%;
        margin-top: -18%;
      }
  }
  @media only screen and (min-width: 992px )  and (max-width: 1200px){
    .wave{
      height:55vh;
      width: 100%;
      margin-top: -20%;
    }
  } 
  @media only screen and (min-width: 768px )  and (max-width: 992px){
    .wave{
      height: 55vh;
      width: 100%;
      margin-top: -40%;
    }
    
  } 
  @media only screen and (min-width: 600px )  and (max-width: 768px){
    .wave{
      height: 50vh;
      width: 100%;
      margin-top: -30%;
    }
  } 
  @media only screen and (max-width: 600px ){
    .wave{
      height: 45vh;
      width: 100%;
      margin-top: -35%;
    }
    .btn-back-to-top{
      right: 0;
      margin-right: 30px;
      z-index: 99;
     }
  } 
